html, body {
    height: 100%;
}

/* Display flex para div ocupar todo o espaco da tela na share-default */
body {
    display: flex;
}

.content {
    flex: 1;
    border: solid 1px black;
}

.border-none {
    border: none;
    outline: none;
}

.text-area {
    width: 100%;
    height: 100vw;
    resize: none;
    padding: 0;
    margin: 0;
    outline: 0px !important;
    border: none;
    -webkit-appearance: none;
}