<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles/style.css" />
    <title>Fast-Share - God</title>
</head>

<body>
    <div>
        <p>Online:</p>
        <table class="table table-sm table-online">
            <thead>
                <th scope="col">IP</th>
                <th scope="col">Room</th>
                <th scope="col">Path</th>
            </thead>
            <tbody>
                <% for (var i = 0; i < usersOnline.length; i++) { %>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= i %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>

</html>