<script>
    const body = document.getElementsByTagName('body')[0];
    body.style.display = 'block';

    function _getContent() {
        return document.getElementById('content').value;
    }
</script>

<div>
    <textarea id="content" class="text-area"></textarea>
</div>