<script>
    function _getContent() {
        return document.getElementById('content').innerHTML;
    }
</script>

<div id="content" contenteditable="true" class="border-none content" tabindex="0">
</div>